# .gitignore

# ------------------------
# Environment / Virtualenv
# ------------------------
# dotenv 環境變數檔案
.env

# 資料夾
.venv/
tests/
scratch/

# ------------------------
# Logs / Notes
# ------------------------
# 一般文字筆記檔
notes.*

# 所有 log 檔案
*.log
logs/

# ------------------------
# macOS 系統檔
# ------------------------
.DS_Store

# ------------------------
# Python bytecode
# ------------------------
# 所有編譯後的 .pyc 檔
*.pyc

# Python bytecode cache 資料夾
__pycache__/

*.parquet